In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv("accepted_2007_to_2018Q4.csv", low_memory=False)
data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,68407277,NaN,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,68355089,NaN,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,68341763,NaN,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,66310712,NaN,35000.0,35000.0,35000.0,60 months,14.85,829.90,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,68476807,NaN,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,F1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
pd.set_option('display.max_columns', 200)
pd.set_option('display.width', 300)

In [27]:
data.describe()

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,annual_inc_joint,dti_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_fico_range_low,sec_app_fico_range_high,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,deferral_term,hardship_amount,hardship_length,hardship_dpd,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,settlement_amount,settlement_percentage,settlement_term
count,0.0,2.260668e+06,2.260668e+06,2.260668e+06,2.260668e+06,2.260668e+06,2.260664e+06,2.258957e+06,2.260639e+06,2.260668e+06,2.260668e+06,2.260638e+06,1.102166e+06,359156.000000,2.260639e+06,2.260639e+06,2.260668e+06,2.258866e+06,2.260639e+06,2.260668e+06,2.260668e+06,2.260668e+06,2.260668e+06,2.260668e+06,2.260668e+06,2.260668e+06,2.260668e+06,2.260668e+06,2.260668e+06,2.260668e+06,2.260668e+06,2.260523e+06,580775.000000,2260668.0,1.207100e+05,120706.000000,2.260639e+06,2.190392e+06,2.190392e+06,1.394538e+06,1.394539e+06,1.394539e+06,1.394539e+06,1.350744e+06,1.394539e+06,1.191818e+06,1.394539e+06,1.394539e+06,1.394539e+06,1.394320e+06,2.190392e+06,1.394539e+06,1.394538e+06,1.394538e+06,2.210638e+06,2.190322e+06,2.185733e+06,2.184597e+06,2.260523e+06,2.260639e+06,2.121597e+06,2.190391e+06,2.190391e+06,2.190392e+06,2.210638e+06,2.187256e+06,519701.000000,1.965233e+06,740359.000000,2.190392e+06,2.190392e+06,2.190392e+06,2.202078e+06,2.190392e+06,2.190392e+06,2.190392e+06,2.190391e+06,2.190392e+06,2.202078e+06,2.107011e+06,2.190392e+06,2.190392e+06,2.190392e+06,2.190237e+06,2.185289e+06,2.259303e+06,2.260563e+06,2.190392e+06,2.210638e+06,2.210638e+06,2.190392e+06,1.080200e+05,108021.000000,108021.000000,108021.000000,108021.000000,108021.000000,106184.000000,108021.000000,108021.000000,108021.000000,108021.000000,35942.000000,10917.0,10917.000000,10917.0,10917.000000,8651.000000,10917.000000,10917.000000,34246.000000,34246.000000,34246.000000
mean,NaN,1.504693e+04,1.504166e+04,1.502344e+04,1.309283e+01,4.458068e+02,7.799243e+04,1.882420e+01,3.068792e-01,6.985882e+02,7.025884e+02,5.768354e-01,3.454092e+01,72.312842,1.161240e+01,1.975278e-01,1.665846e+04,5.033770e+01,2.416255e+01,4.206891e+03,4.205965e+03,1.208256e+04,1.206439e+04,9.505772e+03,2.431388e+03,1.518453e+00,1.438791e+02,2.398257e+01,3.429346e+03,6.876610e+02,6.755397e+02,1.814580e-02,44.164220,1.0,1.236246e+05,19.251817,4.147942e-03,2.327317e+02,1.424922e+05,9.344199e-01,2.779407e+00,6.764314e-01,1.562752e+00,2.122236e+01,3.550665e+04,6.914098e+01,1.290133e+00,2.749923e+00,5.806393e+03,5.703230e+01,3.457394e+04,1.012867e+00,1.477304e+00,2.036667e+00,4.521656e+00,1.354780e+04,1.139426e+04,5.789995e+01,8.464413e-03,1.236983e+01,1.257378e+02,1.814916e+02,1.402409e+01,8.297469e+00,1.555382e+00,2.484485e+01,39.303090,7.024194e+00,35.782223,5.002082e-01,3.676069e+00,5.629468e+00,4.774183e+00,7.726402e+00,8.413439e+00,8.246523e+00,1.400463e+01,5.577951e+00,1.162813e+01,6.373958e-04,2.813652e-03,8.293767e-02,2.076755e+00,9.411458e+01,4.243513e+01,1.281935e-01,4.677109e-02,1.782428e+05,5.102294e+04,2.319377e+04,4.373201e+04,3.361728e+04,669.755603,673.755631,0.633256,1.538997,11.469455,58.169101,3.010554,12.533072,0.046352,0.077568,36.937928,3.0,155.045981,3.0,13.743886,454.798089,11636.883942,193.994321,5010.664267,47.780365,13.191322
std,NaN,9.190245e+03,9.188413e+03,9.192332e+03,4.832138e+00,2.671735e+02,1.126962e+05,1.418333e+01,8.672303e-01,3.301038e+01,3.301124e+01,8.859632e-01,2.190047e+01,26.464094,5.640861e+00,5.705150e-01,2.294831e+04,2.471307e+01,1.198753e+01,7.343239e+03,7.342333e+03,9.901383e+03,9.896992e+03,8.321852e+03,2.679738e+03,1.184159e+01,7.481640e+02,1.312256e+02,6.018248e+03,7.297044e+01,1.110976e+02,1.508131e-01,21.533121,0.0,7.416135e+04,7.822086,6.961656e-02,8.518462e+03,1.606926e+05,1.140700e+00,3.000784e+00,9.256354e-01,1.578672e+00,2.604919e+01,4.409746e+04,2.374839e+01,1.506827e+00,2.596911e+00,5.690561e+03,2.090475e+01,3.672850e+04,1.489456e+00,2.672991e+00,2.383117e+00,3.164229e+00,1.647408e+04,1.659953e+04,2.858347e+01,1.048098e-01,7.264648e+02,5.338218e+01,9.711845e+01,1.753308e+01,9.208557e+00,1.904981e+00,3.231925e+01,22.617689,5.965411e+00,22.307239,1.350326e+00,2.324646e+00,3.382874e+00,3.037921e+00,4.701430e+00,7.359114e+00,4.683928e+00,8.038868e+00,3.293434e+00,5.644027e+00,2.710643e-02,5.616522e-02,4.935732e-01,1.830711e+00,9.036140e+00,3.621616e+01,3.646130e-01,3.775338e-01,1.815748e+05,4.991124e+04,2.300656e+04,4.507298e+04,2.815387e+04,44.729163,44.729272,0.993401,1.760569,6.627271,25.548212,3.275893,8.150964,0.411496,0.407996,23.924584,0.0,129.040594,0.0,9.671178,375.385500,7625.988281,198.629496,3693.122590,7.311822,8.159980
min,NaN,5.000000e+02,5.000000e+02,0.000000e+00,5.310000e+00,4.930000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,6.100000e+02,6.140000e+02,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-9.500000e-09,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,1.0,5.693510e+03,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,540.000000,544.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,0.640000,3.0,0.000000,1.920000,55.730000,0.010000,44.210000,0.200000,0.000000
25%,NaN,8.000000e+03,8.000000e+03,8.000000e+03,9.490000e+00,2.516500e+02,4.600000e+04,1.189000e+01,0.000000e+00,6.750000e+02,6.790000e+02,0.000000e+00,1.600000e+01,55.000000,8.000000e+00,0.000000e+00,5.950000e+03,3.150000e+01,1.500000e+01,0.000000e+00,0.000000e+00,4.546458e+03,4.531800e+03,3.000000e+03,7.281875e+02,0.000000e+00,0.000000e+00,0.000000e+00,3.103300e+02,6.540000e+02,6.500000e+02,0.000000e+00,27.000000,1.0,8.340000e+04,13.530000,0.000000e+00,0.000000e+00,2.909200e+04,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,7.000000e+00,8.695000e+03,5.500000e+01,0.000000e+00,1.000000e+00,2.284000e+03,4.300000e+01,1.470000e+04,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,3.080000e+03,1.722000e+03,3.540000e+01,0.000000e+00,0.000000e+00,9.600000e+01,1.160000e+02,4.000000e+00,3.000000e+00,0.000000e+00,6.000000e+00,21.000000,2.000000e+00,17.000000,0.000000e+00,2.000000e+00,3.000000e+00,3.000000e+00,4.000000e+00,3.000000e+00,5.000000e+00,8.000000e+00,3.000000e+00,8.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,9.130000e+01,0.000000e+00,0.000000e+00,0.000000e+00,5.073100e+04,2.089200e+04,8.300000e+03,1.500000e+04,1.510675e+04,645.000000,649.000000,0.000000,0.000000,7.000000,39.800000,1.000000,7.000000,0.000000,0.000000,16.000000,3.0,59.440000,3.0,5.000000,175.230000,5627.000000,44.440000,2208.000000,45.000000,6.000000
50%,NaN,1.290000e+04,1.287500e+04,1.280000e+04,1.262000e+01,3.779900e+02,6.500000e+04,1.784000e+01,0.000000e+00,6.900000e+02,6.940000e+02,0.000000e+00,3.100000e+01,74.000000,1.100000e+01,0.000000e+00,1.132400e+04,5.030000e+01,2.200000e+01,0.000000e+00,0.000000e+00,9.329720e+03,9.309675e+03,7.000000e+03,1.525940e+03,0.000000e+00,0.000000e+00,0.000000e+00,6.005700e+02,6.990000e+02,6.950000e+02,0.000000e+00,44.000000,1.0,1.100000e+05,18.840000,0.000000e+00,0.000000e+00,7.924000e+04,1.000000e+00,2.000000e+00,0.000000e+00,1.000000e+00,1.300000e+01,2.312700e+04,7.200000e+01,1.000000e+00,2.000000e+00,4.413000e+03,5.800000e+01,2.540000e+04,1.000000e+00,0.000000e+00,1.000000e+00,4.000000e+00,7.335000e+03,5.442000e+03,6.020000e+01,0.000000e+00,0.000000e+00,1.300000e+02,1.640000e+02,8.000000e+00,6.000000e+00,1.000000e+00,1.400000e+01,37.000000,5.000000e+00,33.000000,0.000000e+00,3.000000e+00,5.000000e+00,4.000000e+00,7.000000e+00,6.000000e+00,7.000000e+00,1.200000e+01,5.000000e+00,1.100000e+01,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,1.000000e+02,3.750000e+01,0.000000e+00,0.000000e+00,1.142985e+05,3.786400e+04,1.630000e+04,3.269600e+04,2.651650e+04,670.000000,674.000000,0.000000,1.000000,10.000000,60.200000,2.000000,11.000000,0.000000,0.000000,36.000000,3.0,119.140000,3.0,15.000000,352.770000,10028.390000,133.160000,4146.110000,45.000000,14.000000
75%,NaN,2.000000e+04,2.000000e+04,2.000000e+04,1.599000e+01,5.933200e+02,9.300000e+04,2.449000e+01,0.000000e+00,7.150000e+02,7.190000e+02,1.000000e+00,5.000000e+01,92.000000,1.400000e+01,0.000000e+00,2.024600e+04,6.940000e+01,3.100000e+01,6.149940e+03,6.146310e+03,1.694087e+04,1.691671e+04,1.389910e+04,3.108062e+03,0.000000e+00,0.000000e+00,0.000000e+00,3.743750e+03,7.340000e+02,7.300000e+02,0.000000e+00,62.000000,1.0,1.479950e+05,24.620000,0.000000e+00,0.000000e+00,2.132040e+05,1.000000e+00,3.000000e+00,1.000000e+00,2.000000e+00,2.400000e+01,4.609500e+04,8.600000e+01,2.000000e+00,4.000000e+00,7.598000e+03,7.200000e+01,4.320000e+04,1.000000e+00,2.000000e+00,3.000000e+00,6.000000e+00,1.878300e+04,1.418700e+04,8.310000e+01,0.000000e+00,0.000000e+00,1.540000e+02,2.320000e+02,1.700000e+01,1.100000e+01,3.000000e+00,3.000000e+01,57.000000,1.100000e+01,51.000000,0.000000e+00,5.000000e+00,7.000000e+00,6.000000e+00,1.000000e+01,1.100000e+01,1.000000e+01,1.800000e+01,7.000000e+00,1.400000e+01,0.000000e+00,0.000000e+00,0.000000e+00,3.000000e+00,1.000000e+02,7.140000e+01,0.000000e+00,0.000000e+00,2.577550e+05,6.435000e+04,3.030000e+04,5.880425e+04,4.376900e+04,695.000000,699.000000,1.000000,2.000000,15.000000,78.600000,4.000000,17.000000,0.000000,0.000000,56.000000,3.0,213.260000,3.0,22.000000,620.175000,16151.890000,284.190000,6850.172500,50.000000,18.000000
max,NaN,4.000000e+04,4.000000e+04,4.000000e+04,3.099000e+01,1.719830e+03,1.100000e+08,9.990000e+02,5.800000e+01,8.450000e+02,8.500000e+02,3.300000e+01,2.260000e+02,129.000000,1.010000e+02,8.600000e+01,2.904836e+06,8.923000e+02,1.760000e+02,4.000000e+04,4.000000e+04,6.329688e+04,6.329688e+04,4.000000e+04,2.819250e+04,1.484340e+03,3.985955e+04,7.174719e+03,4.219205e+04,8.500000e+02,8.450000e+02,2.000000e+01,226.000000,1.0,7.874821e+06,69.490000,1.400000e+01,9.152545e+06,9.971659e+06,1.800000e+01,5.700000e+01,2.500000e+01,5.100000e+01,5.110000e+02,1.837038e+06,1.000000e+03,2.800000e+01,6.000000e+01,1.170668e+06,2.390000e+02,9.999999e+06,4.800000e+01,1.110000e+02,6.700000e+01,6.400000e+01,9.580840e+05,7.111400e+05,3.396000e+02,1.000000e+01,2.499250e+05,9.990000e+02,9.990000e+02,5.470000e+02,3.820000e+02,9.400000e+01,6.610000e+02,202.000000,2.500000e+01,202.000000,5.800000e+01,5.000000e+01,7.200000e+01,7.100000e+01,8.600000e+01,1.590000e+02,9.100000e+01,1.510000e+02,6.500000e+01,1.010000e+02,7.000000e+00,4.000000e+00,5.800000e+01,3.200000e+01,1.000000e+02,1.000000e+02,1.200000e+01,8.500000e+01,9.999999e+06,3.408095e+06,1.569000e+06,2.118996e+06,1.110019e+06,845.000000,850.000000,6.000000,27.000000,82.000000,434.300000,43.000000,106.000000,21.000000,23.000000,185.000000,3.0,943.940000,3.0,37.000000,2680.890000,40306.410000,1407.860000,33601.000000,521.350000,181.000000

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2260701 entries, 0 to 2260700
Columns: 151 entries, id to settlement_term
dtypes: float64(113), object(38)
memory usage: 2.5+ GB

In [29]:
#Filter columns to include loan status and 10 variables
data_v1 = data.filter(['loan_status', 'issue_d','annual_inc', 'dti', 'fico_range_low',
'loan_amnt',
'home_ownership',
'open_acc',
'pub_rec',
'pub_rec_bankruptcies',
'tax_liens'], axis=1)

In [30]:
data_v1

         loan_status   issue_d  annual_inc    dti  fico_range_low  loan_amnt home_ownership  open_acc  pub_rec  pub_rec_bankruptcies  tax_liens
0         Fully Paid  Dec-2015     55000.0   5.91           675.0     3600.0       MORTGAGE       7.0      0.0                   0.0        0.0
1         Fully Paid  Dec-2015     65000.0  16.06           715.0    24700.0       MORTGAGE      22.0      0.0                   0.0        0.0
2         Fully Paid  Dec-2015     63000.0  10.78           695.0    20000.0       MORTGAGE       6.0      0.0                   0.0        0.0
3            Current  Dec-2015    110000.0  17.06           785.0    35000.0       MORTGAGE      13.0      0.0                   0.0        0.0
4         Fully Paid  Dec-2015    104433.0  25.37           695.0    10400.0       MORTGAGE      12.0      0.0                   0.0        0.0
...              ...       ...         ...    ...             ...        ...            ...       ...      ...                   ...        ...
2260696      Current  Oct-2016    227000.0  12.75           705.0    40000.0       MORTGAGE       5.0      0.0                   0.0        0.0
2260697  Charged Off  Oct-2016    110000.0  18.30           660.0    24000.0           RENT      10.0      1.0                   1.0        0.0
2260698      Current  Oct-2016     95000.0  23.36           660.0    14000.0       MORTGAGE       8.0      0.0                   0.0        0.0
2260699          NaN       NaN         NaN    NaN             NaN        NaN            NaN       NaN      NaN                   NaN        NaN
2260700          NaN       NaN         NaN    NaN             NaN        NaN            NaN       NaN      NaN                   NaN        NaN

[2260701 rows x 11 columns]

In [31]:
data_v1.describe()

         annual_inc           dti  fico_range_low     loan_amnt      open_acc       pub_rec  pub_rec_bankruptcies     tax_liens
count  2.260664e+06  2.258957e+06    2.260668e+06  2.260668e+06  2.260639e+06  2.260639e+06          2.259303e+06  2.260563e+06
mean   7.799243e+04  1.882420e+01    6.985882e+02  1.504693e+04  1.161240e+01  1.975278e-01          1.281935e-01  4.677109e-02
std    1.126962e+05  1.418333e+01    3.301038e+01  9.190245e+03  5.640861e+00  5.705150e-01          3.646130e-01  3.775338e-01
min    0.000000e+00 -1.000000e+00    6.100000e+02  5.000000e+02  0.000000e+00  0.000000e+00          0.000000e+00  0.000000e+00
25%    4.600000e+04  1.189000e+01    6.750000e+02  8.000000e+03  8.000000e+00  0.000000e+00          0.000000e+00  0.000000e+00
50%    6.500000e+04  1.784000e+01    6.900000e+02  1.290000e+04  1.100000e+01  0.000000e+00          0.000000e+00  0.000000e+00
75%    9.300000e+04  2.449000e+01    7.150000e+02  2.000000e+04  1.400000e+01  0.000000e+00          0.000000e+00  0.000000e+00
max    1.100000e+08  9.990000e+02    8.450000e+02  4.000000e+04  1.010000e+02  8.600000e+01          1.200000e+01  8.500000e+01

In [32]:
data_v1.dtypes

loan_status              object
issue_d                  object
annual_inc              float64
dti                     float64
fico_range_low          float64
loan_amnt               float64
home_ownership           object
open_acc                float64
pub_rec                 float64
pub_rec_bankruptcies    float64
tax_liens               float64
dtype: object

In [33]:
data_v1.loan_status.value_counts()

Fully Paid                                             1076751
Current                                                 878317
Charged Off                                             268559
Late (31-120 days)                                       21467
In Grace Period                                           8436
Late (16-30 days)                                         4349
Does not meet the credit policy. Status:Fully Paid        1988
Does not meet the credit policy. Status:Charged Off        761
Default                                                     40
Name: loan_status, dtype: int64

In [34]:
#Dropping all loan_status categories except  Fully Paid & Charged Off
data_v2 = data_v1.drop(data_v1[(data_v1['loan_status'] == 'Late (31-120 days)') | (data_v1['loan_status'] == 'In Grace Period') | (data_v1['loan_status'] == 'Late (16-30 days)') | (data_v1['loan_status'] == 'Does not meet the credit policy. Status:Fully Paid') | (data_v1['loan_status'] == 'Does not meet the credit policy. Status:Charged Off') | (data_v1['loan_status'] == 'Default') | (data_v1['loan_status'] == 'Current')].index)
data_v2

         loan_status   issue_d  annual_inc    dti  fico_range_low  loan_amnt home_ownership  open_acc  pub_rec  pub_rec_bankruptcies  tax_liens
0         Fully Paid  Dec-2015     55000.0   5.91           675.0     3600.0       MORTGAGE       7.0      0.0                   0.0        0.0
1         Fully Paid  Dec-2015     65000.0  16.06           715.0    24700.0       MORTGAGE      22.0      0.0                   0.0        0.0
2         Fully Paid  Dec-2015     63000.0  10.78           695.0    20000.0       MORTGAGE       6.0      0.0                   0.0        0.0
4         Fully Paid  Dec-2015    104433.0  25.37           695.0    10400.0       MORTGAGE      12.0      0.0                   0.0        0.0
5         Fully Paid  Dec-2015     34000.0  10.20           690.0    11950.0           RENT       5.0      0.0                   0.0        0.0
...              ...       ...         ...    ...             ...        ...            ...       ...      ...                   ...        ...
2260691  Charged Off  Oct-2016    157000.0  10.34           735.0    32000.0       MORTGAGE      14.0      0.0                   0.0        0.0
2260692   Fully Paid  Oct-2016    150000.0  12.25           665.0    16000.0           RENT      12.0      4.0                   3.0        0.0
2260697  Charged Off  Oct-2016    110000.0  18.30           660.0    24000.0           RENT      10.0      1.0                   1.0        0.0
2260699          NaN       NaN         NaN    NaN             NaN        NaN            NaN       NaN      NaN                   NaN        NaN
2260700          NaN       NaN         NaN    NaN             NaN        NaN            NaN       NaN      NaN                   NaN        NaN

[1345343 rows x 11 columns]

In [35]:
data_v2.loan_status.value_counts()

Fully Paid     1076751
Charged Off     268559
Name: loan_status, dtype: int64

In [36]:
# Convert loan_status to dummy variables
data_v3 = pd.get_dummies(data_v2, columns =['loan_status', 'home_ownership'])
data_v3.head()

    issue_d  annual_inc    dti  fico_range_low  loan_amnt  open_acc  pub_rec  pub_rec_bankruptcies  tax_liens  loan_status_Charged Off  loan_status_Fully Paid  home_ownership_ANY  home_ownership_MORTGAGE  home_ownership_NONE  home_ownership_OTHER  home_ownership_OWN  home_ownership_RENT
0  Dec-2015     55000.0   5.91           675.0     3600.0       7.0      0.0                   0.0        0.0                        0                       1                   0                        1                    0                     0                   0                    0
1  Dec-2015     65000.0  16.06           715.0    24700.0      22.0      0.0                   0.0        0.0                        0                       1                   0                        1                    0                     0                   0                    0
2  Dec-2015     63000.0  10.78           695.0    20000.0       6.0      0.0                   0.0        0.0                        0                       1                   0                        1                    0                     0                   0                    0
4  Dec-2015    104433.0  25.37           695.0    10400.0      12.0      0.0                   0.0        0.0                        0                       1                   0                        1                    0                     0                   0                    0
5  Dec-2015     34000.0  10.20           690.0    11950.0       5.0      0.0                   0.0        0.0                        0                       1                   0                        0                    0                     0                   0                    1

In [37]:
# Count 'na' in dataset
data_v3.isna().sum()

issue_d                     33
annual_inc                  33
dti                        407
fico_range_low              33
loan_amnt                   33
open_acc                    33
pub_rec                     33
pub_rec_bankruptcies       730
tax_liens                   72
loan_status_Charged Off      0
loan_status_Fully Paid       0
home_ownership_ANY           0
home_ownership_MORTGAGE      0
home_ownership_NONE          0
home_ownership_OTHER         0
home_ownership_OWN           0
home_ownership_RENT          0
dtype: int64

In [38]:
data_v3.describe()

,annual_inc,dti,fico_range_low,loan_amnt,open_acc,pub_rec,pub_rec_bankruptcies,tax_liens,loan_status_Charged Off,loan_status_Fully Paid,home_ownership_ANY,home_ownership_MORTGAGE,home_ownership_NONE,home_ownership_OTHER,home_ownership_OWN,home_ownership_RENT
count,1.345310e+06,1.344936e+06,1.345310e+06,1.345310e+06,1.345310e+06,1.345310e+06,1.344613e+06,1.345271e+06,1.345343e+06,1.345343e+06,1.345343e+06,1.345343e+06,1.345343e+06,1.345343e+06,1.345343e+06,1.345343e+06
mean,7.624764e+04,1.828267e+01,6.961850e+02,1.441997e+04,1.159352e+01,2.152760e-01,1.344439e-01,5.213002e-02,1.996212e-01,8.003543e-01,2.125852e-04,4.947281e-01,3.567863e-05,1.070359e-04,1.076543e-01,3.972377e-01
std,6.992510e+04,1.116045e+01,3.185251e+01,8.717051e+03,5.473789e+00,6.018647e-01,3.779285e-01,3.979113e-01,3.997158e-01,3.997342e-01,1.457876e-02,4.999724e-01,5.973055e-03,1.034527e-02,3.099435e-01,4.893262e-01
min,0.000000e+00,-1.000000e+00,6.250000e+02,5.000000e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,4.578000e+04,1.179000e+01,6.700000e+02,8.000000e+03,8.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,6.500000e+04,1.761000e+01,6.900000e+02,1.200000e+04,1.100000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,9.000000e+04,2.406000e+01,7.100000e+02,2.000000e+04,1.400000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
max,1.099920e+07,9.990000e+02,8.450000e+02,4.000000e+04,9.000000e+01,8.600000e+01,1.200000e+01,8.500000e+01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

In [39]:
data_v4 = data_v3.dropna()
data_v4

          issue_d  annual_inc    dti  fico_range_low  loan_amnt  open_acc  pub_rec  pub_rec_bankruptcies  tax_liens  loan_status_Charged Off  loan_status_Fully Paid  home_ownership_ANY  home_ownership_MORTGAGE  home_ownership_NONE  home_ownership_OTHER  home_ownership_OWN  home_ownership_RENT
0        Dec-2015     55000.0   5.91           675.0     3600.0       7.0      0.0                   0.0        0.0                        0                       1                   0                        1                    0                     0                   0                    0
1        Dec-2015     65000.0  16.06           715.0    24700.0      22.0      0.0                   0.0        0.0                        0                       1                   0                        1                    0                     0                   0                    0
2        Dec-2015     63000.0  10.78           695.0    20000.0       6.0      0.0                   0.0        0.0                        0                       1                   0                        1                    0                     0                   0                    0
4        Dec-2015    104433.0  25.37           695.0    10400.0      12.0      0.0                   0.0        0.0                        0                       1                   0                        1                    0                     0                   0                    0
5        Dec-2015     34000.0  10.20           690.0    11950.0       5.0      0.0                   0.0        0.0                        0                       1                   0                        0                    0                     0                   0                    1
...           ...         ...    ...             ...        ...       ...      ...                   ...        ...                      ...                     ...                 ...                      ...                  ...                   ...                 ...                  ...
2260688  Oct-2016    130000.0  20.59           735.0    18000.0      17.0      0.0                   0.0        0.0                        0                       1                   0                        0                    0                     0                   1                    0
2260690  Oct-2016    180792.0  22.03           705.0    29400.0      16.0      0.0                   0.0        0.0                        0                       1                   0                        1                    0                     0                   0                    0
2260691  Oct-2016    157000.0  10.34           735.0    32000.0      14.0      0.0                   0.0        0.0                        1                       0                   0                        1                    0                     0                   0                    0
2260692  Oct-2016    150000.0  12.25           665.0    16000.0      12.0      4.0                   3.0        0.0                        0                       1                   0                        0                    0                     0                   0                    1
2260697  Oct-2016    110000.0  18.30           660.0    24000.0      10.0      1.0                   1.0        0.0                        1                       0                   0                        0                    0                     0                   0                    1

[1344239 rows x 17 columns]

In [40]:
data_v4.describe()

,annual_inc,dti,fico_range_low,loan_amnt,open_acc,pub_rec,pub_rec_bankruptcies,tax_liens,loan_status_Charged Off,loan_status_Fully Paid,home_ownership_ANY,home_ownership_MORTGAGE,home_ownership_NONE,home_ownership_OTHER,home_ownership_OWN,home_ownership_RENT
count,1.344239e+06,1.344239e+06,1.344239e+06,1.344239e+06,1.344239e+06,1.344239e+06,1.344239e+06,1.344239e+06,1.344239e+06,1.344239e+06,1.344239e+06,1.344239e+06,1.344239e+06,1.344239e+06,1.344239e+06,1.344239e+06
mean,7.627233e+04,1.828653e+01,6.961737e+02,1.442149e+04,1.159528e+01,2.153977e-01,1.344515e-01,5.216632e-02,1.996446e-01,8.003554e-01,2.127598e-04,4.947677e-01,3.347619e-05,1.071238e-04,1.076713e-01,3.972076e-01
std,6.990932e+04,1.116102e+01,3.184432e+01,8.716773e+03,5.473660e+00,6.020465e-01,3.779437e-01,3.980553e-01,3.997333e-01,3.997333e-01,1.458474e-02,4.999728e-01,5.785767e-03,1.034951e-02,3.099650e-01,4.893198e-01
min,1.600000e+01,-1.000000e+00,6.600000e+02,5.000000e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,4.590200e+04,1.180000e+01,6.700000e+02,8.000000e+03,8.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,6.500000e+04,1.762000e+01,6.900000e+02,1.200000e+04,1.100000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,9.000000e+04,2.406000e+01,7.100000e+02,2.000000e+04,1.400000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
max,1.099920e+07,9.990000e+02,8.450000e+02,4.000000e+04,9.000000e+01,8.600000e+01,1.200000e+01,8.500000e+01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

In [41]:
data_v4.dtypes

issue_d                     object
annual_inc                 float64
dti                        float64
fico_range_low             float64
loan_amnt                  float64
open_acc                   float64
pub_rec                    float64
pub_rec_bankruptcies       float64
tax_liens                  float64
loan_status_Charged Off      uint8
loan_status_Fully Paid       uint8
home_ownership_ANY           uint8
home_ownership_MORTGAGE      uint8
home_ownership_NONE          uint8
home_ownership_OTHER         uint8
home_ownership_OWN           uint8
home_ownership_RENT          uint8
dtype: object

In [42]:
#Convert issue_date to datetime
#data_v4['issue_d'] = pd.to_datetime(data_v4['issue_d'])

In [43]:
data_v4.dtypes

issue_d                     object
annual_inc                 float64
dti                        float64
fico_range_low             float64
loan_amnt                  float64
open_acc                   float64
pub_rec                    float64
pub_rec_bankruptcies       float64
tax_liens                  float64
loan_status_Charged Off      uint8
loan_status_Fully Paid       uint8
home_ownership_ANY           uint8
home_ownership_MORTGAGE      uint8
home_ownership_NONE          uint8
home_ownership_OTHER         uint8
home_ownership_OWN           uint8
home_ownership_RENT          uint8
dtype: object

In [44]:
data_v5 = data_v4.drop(['loan_status_Charged Off'], axis=1)
data_v5

          issue_d  annual_inc    dti  fico_range_low  loan_amnt  open_acc  pub_rec  pub_rec_bankruptcies  tax_liens  loan_status_Fully Paid  home_ownership_ANY  home_ownership_MORTGAGE  home_ownership_NONE  home_ownership_OTHER  home_ownership_OWN  home_ownership_RENT
0        Dec-2015     55000.0   5.91           675.0     3600.0       7.0      0.0                   0.0        0.0                       1                   0                        1                    0                     0                   0                    0
1        Dec-2015     65000.0  16.06           715.0    24700.0      22.0      0.0                   0.0        0.0                       1                   0                        1                    0                     0                   0                    0
2        Dec-2015     63000.0  10.78           695.0    20000.0       6.0      0.0                   0.0        0.0                       1                   0                        1                    0                     0                   0                    0
4        Dec-2015    104433.0  25.37           695.0    10400.0      12.0      0.0                   0.0        0.0                       1                   0                        1                    0                     0                   0                    0
5        Dec-2015     34000.0  10.20           690.0    11950.0       5.0      0.0                   0.0        0.0                       1                   0                        0                    0                     0                   0                    1
...           ...         ...    ...             ...        ...       ...      ...                   ...        ...                     ...                 ...                      ...                  ...                   ...                 ...                  ...
2260688  Oct-2016    130000.0  20.59           735.0    18000.0      17.0      0.0                   0.0        0.0                       1                   0                        0                    0                     0                   1                    0
2260690  Oct-2016    180792.0  22.03           705.0    29400.0      16.0      0.0                   0.0        0.0                       1                   0                        1                    0                     0                   0                    0
2260691  Oct-2016    157000.0  10.34           735.0    32000.0      14.0      0.0                   0.0        0.0                       0                   0                        1                    0                     0                   0                    0
2260692  Oct-2016    150000.0  12.25           665.0    16000.0      12.0      4.0                   3.0        0.0                       1                   0                        0                    0                     0                   0                    1
2260697  Oct-2016    110000.0  18.30           660.0    24000.0      10.0      1.0                   1.0        0.0                       0                   0                        0                    0                     0                   0                    1

[1344239 rows x 16 columns]

In [45]:
# Double check no 'na' in dataset
data_v5.isna().sum()

issue_d                    0
annual_inc                 0
dti                        0
fico_range_low             0
loan_amnt                  0
open_acc                   0
pub_rec                    0
pub_rec_bankruptcies       0
tax_liens                  0
loan_status_Fully Paid     0
home_ownership_ANY         0
home_ownership_MORTGAGE    0
home_ownership_NONE        0
home_ownership_OTHER       0
home_ownership_OWN         0
home_ownership_RENT        0
dtype: int64

In [50]:
## Machine Learning Model #3 - Desicion Tree ##
from path import Path
from sklearn import tree
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [51]:
#Setting y/prediction variable column
y = data_v5['loan_status_Fully Paid']  # ?? .values
y = y.reset_index()
y = y.drop(columns='index')
y

         loan_status_Fully Paid
0                             1
1                             1
2                             1
3                             1
4                             1
...                         ...
1344234                       1
1344235                       1
1344236                       0
1344237                       1
1344238                       0

[1344239 rows x 1 columns]

In [52]:
#Setting x/dependent variables 
X = data_v5[[
'annual_inc','fico_range_low', 'dti', 'loan_amnt',
'open_acc',
'pub_rec',
'pub_rec_bankruptcies',
'tax_liens', 'home_ownership_ANY',
'home_ownership_MORTGAGE',
'home_ownership_NONE',
'home_ownership_OTHER',
'home_ownership_OWN',
'home_ownership_RENT']]

In [53]:
# split Data into training and testing sets **USING STRATIFY method**
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [54]:
# Determine the shape of our training and testing sets.
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(1008179, 14)
(336060, 14)
(1008179, 1)
(336060, 1)

In [55]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [56]:
# Creating the decision tree classifier instance.
model = tree.DecisionTreeClassifier()
# Fitting the model.
model = model.fit(X_train_scaled, y_train)

In [57]:
# Making predictions using the testing data.
predictions = model.predict(X_test_scaled)

In [58]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0        17668        49425
Actual 1        56297       212670

In [60]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)
acc_score

0.6854073677319527

In [61]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0        17668        49425
Actual 1        56297       212670

Accuracy Score : 0.6854073677319527
Classification Report
              precision    recall  f1-score   support

           0       0.24      0.26      0.25     67093
           1       0.81      0.79      0.80    268967

    accuracy                           0.69    336060
   macro avg       0.53      0.53      0.53    336060
weighted avg       0.70      0.69      0.69    336060